:root {
	--anitime: 1.5s;
	--anidelay:5s
}

* {
	box-sizing: border-box;  
	overflow: hidden;
	}
  
body {
	height: 100vh;
	width: 99vw;
	text-align: center;
	font-family: 'lato',sans-serif;
	font-weight: 500;
	letter-spacing: .1em;
	background: radial-gradient(ellipse, #1B2735 0%,  #090A0F 100%);
	background-repeat: no-repeat;
	background-position: right top;
 	background-attachment: fixed;
	}

header{
	height: 20vh;
	perspective: 200px;
}

main{
	height: 60vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.container {
  width: 100%;
  align-content: center;

}

#basic {	
	background: -webkit-linear-gradient(white, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	padding: 4px;
	font-size: max(8vw, 70px);

	animation: basicIn calc(var(--anitime)*5);	
}

#first, #second, #third{
	text-align: center;
	background: -webkit-linear-gradient(white 40%, #497bad);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	font-size: max(5vw, 50px);
	letter-spacing: .1em;
	margin: 3vh;
}

#first{
	animation: waiting var(--anidelay) linear, fast var(--anitime) linear var(--anidelay);

	/* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

#second{
	animation: waiting calc(var(--anidelay)*1.2) linear, accurate var(--anitime) linear calc(var(--anidelay)*1.2);
}

#third{
	animation: waiting calc(var(--anidelay)*1.5) linear, cheap var(--anitime) steps(7) calc(var(--anidelay)*1.5);
	overflow: hidden;
	white-space: nowrap;
	width: calc(50px * 5);
}

footer {
	height: 20vh;
	position: relative;
}

#print1 {
	animation: ticker 15s linear infinite;
	animation-delay: calc(var(--anitime)*6);
	font-size: max(2vw, 50px);
	background-color: rgba(127, 255, 212, 0);
	/* border-top: yellow 4px solid;
	border-bottom: yellow 4px solid; */
	color: #FFF;
	text-align: left;
	white-space: nowrap;
	width: min-content;
	position: absolute;
	right: 0;
	padding: 2vw 0;
	transform: translateX(100%);
}


@keyframes basicIn {
	0% {
		transform:translateY(200%);
		opacity: 0;
		transform-style: preserve-3d;
		letter-spacing: .3em;
		font-size: max(5vw, 40px);
		}	

	30% {
		transform:translateY(200%);
		opacity: 1;
		transform-style: preserve-3d;	
		letter-spacing: .3em;
		font-size: max(5vw, 40px);
		}

	50% {
		transform:translateY(0);
		opacity: 1;
		transform-style: preserve-3d;	
		letter-spacing: .1em;
		font-size: max(8vw, 70px);
		}	
	}

@keyframes waiting {
	0%, 100%	{
		opacity: 0;
		}
	}	

@keyframes fast	{
	0%	{
		transform: translateX(100vw) skewX(-50deg);
		text-shadow: 70px 0px 40px white;
		}

	100%{
		transform: translateX(0);
		text-shadow: 0px 0px 20px rgba(255, 255, 255, 0);
		}	
	}

@keyframes accurate {
	0% 	{
		transform: scale(4);
		filter: blur(40px) brightness(.2);
			}

	100%{
		transform: scale(1);
		}	
	}	

@keyframes cheap {
	0%	{
		width: 0; 
		}

	100%{
		width: calc(50px * 5);
	}	


}	

@keyframes ticker {
	0%	{transform: translateX(100%);}
	100%	{transform: translateX(-110%);}	
}


.keret2{
	border:#FFF 3px solid;
}
.trans{
	transform: translateX(160%);
}
